<div class="wrapper ">
    <div class="sidebar" data-color="black">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="" class="simple-text" style="color:rgb(211, 211, 0);">
          Levitisoft
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="dashboard" style="background-color: rgb(211, 211, 0);">
              <i class="fa fa-house"></i>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a href="roles">
              <i class="fa fa-gear" style="color:rgb(211, 211, 0);"></i>
              <p style="color: rgb(211, 211, 0);">Roles</p>
            </a>
          </li>
          <li>
            <a href="usuarios">
              <i class="fa fa-users" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Usuarios</p>
            </a>
          </li>
          <li>
            <a href="compras">
              <i class="fa fa-shop" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Compras</p>
            </a>
          </li>
          <li>
            <a href="insumos">
              <i class="fa fa-box" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Insumos</p>
            </a>
          </li>
          <li>
            <a href="producción">
              <i class="fa fa-scissors" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Producción</p>
            </a>
          </li>
          <li>
            <a href="productos">
              <i class="fa fa-boxes-packing" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Productos</p>
            </a>
          </li>
          <li>
            <a href="clientes">
              <i class="fa fa-user" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Clientes</p>
            </a>
          </li>
          <li>
            <a href="Carrito de compras">
              <i class="fa fa-cart-shopping" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Carrito de compras</p>
            </a>
          </li>
          <li>
            <a href="ventas">
              <i class="fa fa-truck-fast" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Ventas</p>
            </a>
          </li>
          <li>
            <a href="reparaciones">
              <i class="fa fa-screwdriver-wrench" style="color:rgb(211, 211, 0);"></i>
              <p style="color:rgb(211, 211, 0);">Reparaciones</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand navbar-absolute" style="background-color: rgb(124, 123, 123);">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <a class="nav-link" href="#">
              <i class="fa fa-user"></i>
              <p>
                <span class="d-lg-none d-md-block">Account</span>
              </p>
            </a>
          </div>
        </div>
      </nav>