<footer>
  <!-- Grid container -->
  <div class="container  text-center  text-black p-4 pb-0">
    <center>
      <!-- Section: Social media -->
      <section class="mb-4 ">
        <!-- Facebook -->
        <a class="btn btn-dark btn-floating m-1"
          href="https://m.facebook.com/profile.php?id=100065273580751&eav=AfaTJ0zKmgjL2-Zbf94elPzqb_j2bDbRAf9amB-xNR_y21OoeBPoXsNF_KKDDAx4Wnw&paipv=0&_rdr"
          role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Whatsapp -->
        <a class="btn btn-dark btn-floating m-1" href="https://wa.link/fm2ez7" role="button"><i
            class="fab fa-whatsapp"></i></a>

        <!-- Instagram -->
        <a class="btn btn-dark btn-floating m-1"
          href="https://instagram.com/leviticoaccesorios?igshid=YmMyMTA2M2Y=" role="button"><i
            class="fab fa-instagram"></i></a>
      </section>
      <!-- Section: Social media -->
  </div>
  </center>
  <!-- Grid container -->
</footer>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/demo/demo.js"></script>
<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>