<!--Inicio footer-->
        <footer class="footer-dark" >
            <div class="container">
                    <div class="col item social"><a href="https://m.facebook.com/profile.php?id=100065273580751&eav=AfaTJ0zKmgjL2-Zbf94elPzqb_j2bDbRAf9amB-xNR_y21OoeBPoXsNF_KKDDAx4Wnw&paipv=0&_rdr"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://wa.link/fm2ez7"><i class="icon ion-social-whatsapp"></i></a>
                    <a href="https://instagram.com/leviticoaccesorios?igshid=YmMyMTA2M2Y="><i class="icon ion-social-instagram"></i></a></div>
                <p class="copyright">LA TRILOGIA QUE ESTUDIA © 2022</p>
            </div>
        </footer>
    </div>
<!--Fin footer-->