
</body>
<footer >
	
	<!-- Grid container -->
	<div class="container  text-center  text-black p-4 pb-0"><center>
	  <!-- Section: Social media -->
	  <section class="mb-4 "> 
		<!-- Facebook -->
		<a class="btn btn-outline-dark btn-floating m-1" href="https://m.facebook.com/profile.php?id=100065273580751&eav=AfaTJ0zKmgjL2-Zbf94elPzqb_j2bDbRAf9amB-xNR_y21OoeBPoXsNF_KKDDAx4Wnw&paipv=0&_rdr" role="button"
		  ><i class="fab fa-facebook-f"></i
		></a>
	
		<!-- Whatsapp -->
		<a class="btn btn-outline-dark btn-floating m-1" href="https://wa.link/fm2ez7" role="button"
		  ><i class="fab fa-whatsapp"></i
		></a>

		<!-- Instagram -->
		<a class="btn btn-outline-dark btn-floating m-1" href="https://instagram.com/leviticoaccesorios?igshid=YmMyMTA2M2Y=" role="button"
			><i class="fab fa-instagram"></i
		></a>
	  </section>
	  <!-- Section: Social media -->
	</div></center>
	<!-- Grid container -->
</footer>
</html>