
<body>
    <nav class="navbar navbar-expand-lg" id="nav">
        <div class="container-fluid">
          <a class="navbar-brand" id="navlink">Levítico</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home" id="navlink">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productos" id="navlink">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recomendaciones" id="navlink">Recomendaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre_nosotros" id="navlink">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactanos" id="navlink">Contáctanos</a>
              </li>
            </ul>
          </div>
          <div class="text-end" id="sombra_img_1">
            <a href="/login" class="btn btn-info" id="ir">Iniciar sesión</a><br>
          </div>
          <div class="text-end" id="sombra_img_1">
          <a href="/registrarse" class="btn btn-info" id="ir">Registrarse</a>
          </div>
        </div>
      </nav>
    
      <br>
      