<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/assets/css/estilo.css">
  <title>Dashboard</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">
        <a class="btn btn-danger" href="home">Salir</a>
      </li>
      <div class="offcanvas offcanvas-start bg-dark b-4" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 style="color: white;" class="offcanvas-title" id="offcanvasNavbarLabel">Levitisoft</h5>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">

              <a style="color: white;" class="nav-link" aria-current="page" href="dashboard"><i class="fa fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="roles"><i class="fa fa-gear"></i> Roles</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="#"><i class="fa fa-users"></i> Usuarios</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="compras"><i class="fa fa-shop"></i> Compras</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="insumos"><i class="fa fa-box"></i> Insumos</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="#"><i class="fa fa-scissors"></i> Producción</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="#"><i class="fa fa-boxes-packing"></i> Productos</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="#"><i class="fa fa-user"></i> Clientes</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="#"><i class="fa fa-cart-shopping"></i> Carrito de compras</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="ventas"><i class="fa fa-truck-fast"></i> Ventas</a>
            </li>
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="#"><i class="fa fa-screwdriver-wrench"></i> Reparaciones</a>
            </li>
        </div>
      </div>
    </div>
  </nav>
  <br>