{{> header }}
{{> navbar}}
<main>
    <center>
        <h1>Productos</h1>
    </center><br>

    <div class="row" id="sombra" style="padding-right: 0;">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <img src="https://dcuero.online/wp-content/uploads/2018/10/calzado-de-cuero-400x270.jpg" width="400"
                height="250" id="sombra_img">
        </div>

        <div class="col-md-6" style="padding-right: 0;">
            <br>
            <h3>Zapatos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit aliquid dolores perspiciatis
                dolorum beatae earum accusamus quidem dolorem amet error repellat asperiores quae deleniti, impedit quo
                ad voluptas ipsa? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est rem labore nobis et
                beatae omnis cum sint assumenda doloremque, velit ducimus nisi quis autem excepturi quos quod adipisci
                laborum fugit?</p>
            <p>$$$$</p>
            <br><br><br>
        </div>
    </div>
    <br><br>
</main>
</body>

{{> footer}}