<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="assets/img/icono.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <script src="https://kit.fontawesome.com/bc88cb68e3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <!-- CSS Files -->

    <link href="assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/footer.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets/demo/demo.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<style>
    .fa-eye:hover {
        color: gray;
    }

    .fa-pen:hover {
        color: #0275d8;
    }

    .p2:hover {
        color: rgb(255, 255, 255);
    }

    .fa-trash:hover {
        color: red;
    }
</style>

<!--Barra de navegación-->
<div class="wrapper ">
    <div class="sidebar" data-color="black">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
        <div class="logo">
            <a href="" class="simple-text" style="color:white;">
                Levitisoft
            </a>
        </div>
        <div class="logo">
            <a href="" class="simple-text" style="color:white; ">
                <img src="assets/img/admin.png" style="width: 34px;"> Administrador
            </a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="dashboard">
                        <i class="fa fa-house" style="color:white;"></i>
                        <p style="color:white;">Home</p>
                    </a>
                </li>
                <li class="active">
                    <a href="roles" style="background-color: white">
                        <i class="fa fa-gear" style="color: black;"></i>
                        <p style="color: black;">Roles</p>
                    </a>
                </li>
                <li>
                    <a href="usuarios">
                        <i class="fa fa-users" style="color:white;"></i>
                        <p style="color:white;">Usuarios</p>
                    </a>
                </li>
                <li>
                    <a href="compras">
                        <i class="fa fa-shop" style="color:white;"></i>
                        <p style="color:white;">Compras</p>
                    </a>
                </li>
                <li>
                    <a href="insumos">
                        <i class="fa fa-box" style="color:white;"></i>
                        <p style="color:white;">Insumos</p>
                    </a>
                </li>
                <li>
                    <a href="producción">
                        <i class="fa fa-scissors" style="color:white;"></i>
                        <p style="color:white;">Producción</p>
                    </a>
                </li>
                <li>
                    <a href="productos">
                        <i class="fa fa-boxes-packing" style="color:white;"></i>
                        <p style="color:white;">Productos</p>
                    </a>
                </li>
                <li>
                    <a href="clientes">
                        <i class="fa fa-user" style="color:white;"></i>
                        <p style="color:white;">Clientes</p>
                    </a>
                </li>
                <li>
                    <a href="Carrito de compras">
                        <i class="fa fa-cart-shopping" style="color:white;"></i>
                        <p style="color:white;">Carrito de compras</p>
                    </a>
                </li>
                <li>
                    <a href="ventas">
                        <i class="fa fa-truck-fast" style="color:white;"></i>
                        <p style="color:white;">Ventas</p>
                    </a>
                </li>
                <li>
                    <a href="reparaciones">
                        <i class="fa fa-screwdriver-wrench" style="color:white;"></i>
                        <p style="color:white;">Reparaciones</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" id="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand navbar-absolute" style="background-color: rgb(124, 123, 123);">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#">Roles</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <a class="nav-link" href="home">
                        <i class="fa fa-right-from-bracket" style="margin-right:20px;"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Salir</span>
                        </p>
                    </a>
                </div>
            </div>
        </nav>
        <!--Barra de navegación-->
        <br><br><br><br>
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <div class="row" style="margin-left: 8px;">
                            <div class="col-md-8">
                                <input
                                    style="height: 45px; border-radius: 0; margin-top: 4px; width: 105%; margin-right: 0;"
                                    class="form-control me-2" type="search" placeholder="Buscar Rol"
                                    aria-label="Search">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-outline-success" type="submit"
                                    style="height: 60%; border-radius: 0; width: 100%; padding: 10%;"><i
                                        class="fa-sharp fa-solid fa-magnifying-glass" style="width: 100%;"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <a href="AgregarRol" class="btn btn-success" style="border-radius: 0;"><i
                                class="fa-solid fa-circle-plus"></i>
                            Agregar Rol</a>
                    </div>
                </div>
                <br>
                <table class="table" style="text-align:center;">
                    <thead style="background-color: #282d32; color:white;">
                        <tr>
                            <th>Id</th>
                            <th>Rol</th>
                            <th>Permisos</th>
                            <th>Estado</th>
                            <th>Funciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>Administrador</td>
                            <td>
                                <!-- Button trigger modal -->
                                <i type="button" class="fa-solid fa-eye" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1">
                                </i>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal1" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title fs-5" id="exampleModalLabel">Permisos</h4>
                                                <i type="button" class="fa fa-xmark" data-bs-dismiss="modal"
                                                    aria-label="Close"></i>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        Roles
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch ">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Usuarios
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch ">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Compras
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch ">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Insumos
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Producción
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Productos
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Clientes
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Carrito de compras
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Ventas
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        Reparaciones
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="switch">
                                                            <input type="checkbox" checked disabled>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cerrar</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>Activo</td>
                            <td><a href="EditarRol" style="color: #292b2c;"><i type="button"
                                        class="fa-sharp fa-solid fa-pen" style="margin-right: 10px;"></i></a>
                                <i type="button" id="Eliminar" class="fa fa-trash"></i>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </center>


        <!--Inicio footer-->
        {{> footer}}
        <!--Fin footer-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="assets/js/ValidacionEliminarRol.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        <!--   Core JS Files   -->
        <script src="assets/js/core/jquery.min.js"></script>
        <script src="assets/js/core/popper.min.js"></script>
        <script src="assets/js/core/bootstrap.min.js"></script>
        <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chart JS -->
        <script src="assets/js/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="assets/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
        <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
        <script src="assets/demo/demo.js"></script>
        <script>
            $(document).ready(function () {
                // Javascript method's body can be found in assets/js/demos.js
                demo.initDashboardPageCharts();

            });
        </script>