{{> header }}
{{> navbar}}
   <!--Cuerpo-->
    <main><br>
       <center><h1>Sobre Nosotros</h1></center> <br>

        <div class="row">
            <div class="col-md-4">
                <div class="card" id="sombra">
                    <div class="card-body">
                        <center><h3 class="card-title">Misión</h3></center>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est rem labore nobis et beatae omnis cum sint assumenda doloremque, velit ducimus nisi quis autem excepturi quos quod adipisci laborum fugit?</p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card" id="sombra">
                    <div class="card-body">
                        <center><h3 class="card-title">Visión</h3></center>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repellat accusamus incidunt, illum aperiam magnam quos officiis accusantium maiores odio. Corrupti excepturi illum modi ratione adipisci, nam distinctio vel placeat?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" id="sombra">
                    <div class="card-body">
                        <center><h3 class="card-title">Servicios</h3></center>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore perspiciatis odio reiciendis similique voluptates quas, perferendis quidem recusandae tenetur quaerat tempore voluptatem consequatur nihil velit repudiandae autem? Dolorum, corrupti.</p>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br>

       <!-- <img src="img/L.jpg" width="100%" height="15%"> -->

    </main>
{{> footer }}