<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="assets/img/icono.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <script src="https://kit.fontawesome.com/bc88cb68e3.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/footer.css">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/demo/demo.css" rel="stylesheet" />
</head>

{{> bar}}
<br><br><br><br>
<center>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Producto</th>
          <th>Total</th>
          <th>Fecha</th>
          <th>Funciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>22</td>
          <td>Alejandra</td>
          <td>36873633</td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="fa fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal">
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title fs-5" id="exampleModalLabel">Productos</h4>
                    <button type="button" class="icon ion-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-6">
                        <div class="card" style="width: 13rem;">
                          <img src="https://countryandroses.com/wp-content/uploads/2020/06/sombrero-de-cuero-marron-vaquero-country-and-roses-alan-1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Precio: 205.000</p>
                            <p class="card-text">Cantidad: 2</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="card" style="width: 13rem;">
                          <img src="https://chevignon.vtexassets.com/arquivos/ids/992694/63_022D000_041100_0.jpg?v=1755035777" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">Precio: 50.000</p>
                            <p class="card-text">Cantidad: 1</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>$460000</td>
          <td>17/11/2022</td>
          <td><a class="btn btn-success" href="AgregarVenta">Agregar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</center>
<br><br>
</body>
<!--Inicio footer-->
{{> footer}}
<!--Fin footer-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/demo/demo.js"></script>
<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>